* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    min-height: 130px;
}

.header .left {
    width: 50%;
    min-height: 130px;
    background: #FFC000;
    float: left;
}

.header .mid {
    width: 33%;
    min-height: 130px;
    background: url(images/header/back.png);
    float: left;
    background-repeat: no-repeat;
}

.header .right {
    width: 17%;
    min-height: 130px;
    background: #3C3F47;
    float: left;
}

.header .mid .star {
    display: block;
    margin-left: 187px;
    margin-top: 90px;
    position: absolute;
}

.header .left h2 {
    position: absolute;
    margin-left: 500px;
    margin-top: 20px;
}

.header .right .h2-1 {
    color: white;
    position: absolute;
    margin-left: -340px;
    margin-top: 20px;
}

.header .right .h2-2 {
    color: white;
    position: absolute;
    margin-top: 45px;
    margin-left: -340px;
}

.header .right img {
    position: absolute;
    margin-top: 75px;
    margin-left: -340px;
}

.block2 {
    width: 100%;
    min-height: 400px;
    margin-top: 70px;
}

.block2 .center {
    width: 1100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.block2 .center .left2 {
    width: 60%;
    height: 350px;
    background: yellow;
    float: left;
    background: url("images/header/cam.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: right;
}


.block2 .center .left2 h2 {
    font-size: 19px;
}

.block2 .center .right2 {
    width: 40%;
    height: 350px;
    float: left;
    background: url(images/header/form_back.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}

.block2 .center .right2 input {
    width: 344px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;

}

.block2 .center .right2 input[type=submit] {
    background: none;
    border: none;
    background: url("images/header/form_button.png");
    color: white;
}

.block2 .center .right2 li {
    margin-top: 10px;
    list-style: none;
}

.block3 {
    width: 100%;
    height: 566px;
    background: url("images/action/back.png");
}


.block3 .center {
    width: 1100px;
    height: 566px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.block3 .center .devka {
    width: 100%;
    height: 413px;
    background: url("images/action/bonus.png");

}

.block3 .center .devka .left {
    width: 55%;
    height: 250px;
    float: left;
    margin-top: 180px;
    color: white;
    padding: 15px;
}

.block3 .center .devka .right {
    width: 40%;
    height: 250px;
    float: right;
    margin-top: 150px;
    text-align: center;
}

.block3 .right li {
    background: white;
    list-style: none;
    width: 35px;
    height: 45px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
}

.block3 .right div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.block3 .right button {
    width: 344px;
    height: 50px;
    background: none;
    border: none;
    background: #32343E;
    border-radius: 5px;
    color: white;
}

.block3 .right h3 {
    font-size: 15px;
}

.block3 .center .devka .left h3 {
    font-size: 16px;
}


.block5 {
    width: 100%;
    height: 1400px;
    background: url("images/goods/back.png");
    padding-top: 40px;
}

.block5 .center {
    width: 1100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.block5 .center .ucontrol {
    width: 100%;
    min-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.block5 .center .ucontrol h1 {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.block5 .center .ucontrol h2 {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 80px;
}

.block5 .center .ucontrol span {
    width: 100%;
    height: 20px;
    background: url("images/goods/h3_back.png");
    background-repeat: no-repeat;
}

.block5 .center .ucontrol p {
    width: 100%;
    height: auto;
    margin-top: -18px;
    font-size: 20px;
}

.block5 .center .container {
    width: 100%;
    height: 1234px;
    text-align: center;
    margin-top: 20px;

}

.block5 .center .container .box1 {
    width: 27%;
    min-height: 500px;
    background: url("images/goods/good_back.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.block5 .center .container .box1 h2 {
    width: 100%;
    height: 50px;
    font-size: 14px;
    float: left;
    margin-top: 15px;
}

.block5 .center .container .box1 img {
    width: auto;
    height: auto;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}

.block5 .center .container .box1 .form1 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    margin-top: 13px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
}

.block5 .center .container .box1 .form2 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    margin-top: 127px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
}

.block5 .center .container .box1 .form3 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
}

.block5 .center .container .box1 .form4 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
}

.block5 .center .container .box1 .form5 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
    margin-top: 21px;
}

.block5 .center .container .box1 .form6 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 16px;
    border-radius: 8px;
    margin-top: 38px;
    border-bottom: 1px solid yellow;
}

.block5 .center .container .box1 p {
    width: 130px;
    height: 30px;
    color: white;
    float: left;
    margin-left: 100px;
    margin-top: -38px;
    font-size: 23px;
}

.block5 .center .container .box1 .buy {
    width: 131px;
    height: 49px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 6px;

}

.block5 .center .container .box1 .more {
    width: 131px;
    height: 49px;
    float: right;
    margin-top: 40px;
    border-radius: 6px;
    background: #282B34;
}

.block5 .center .container .box1 a {
    width: 50%;
    height: 49px;
    float: left;
    background: #ED564E;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    display: block;
}

.block5 .center .container .box1 .buy:hover {
    top: 3px;
}

.block5 .center .container .box1 .more:hover {
    top: 3px;
}

.block6 {
    width: 100%;
    height: 439px;
    background: url("images/goods/back_2.jpg");
    background-repeat: repeat;
}

.block6 .center {
    width: 1100px;
    height: 439px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
}

.block6 .center .frm {
    width: 100%;
    height: 315px;
    text-align: center;
    
}

.block6 .center .frm h1 {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 25px;
    padding-top: 13px;
    text-align: center;
}

.block6 .center .frm form {
    width: 80%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -300px;
}

.block6 .center .frm form ul {
    width: 100%;
    height: 200px;
    list-style: none;
}

.block6 .center .frm form ul li {
    width: 100%;
    height: 40px;
    text-decoration: none;
}

.block6 .center .frm form input {
    width: 80%;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 8px;
    padding: 15px;
    

}

.block6 .center .frm form input[type=submit] {
    width: 80%;
    height: 35px;
    margin: 17px;
    text-transform: uppercase;
    background: none;
    border: none;
    background: url("images/goods/form_button.png");
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}

.block6 .center .frm p {
    width: 100%;
    height: 20px;
    margin-top: 75px;
    font-size: 19px;
    color: red;
}

.block7 {
    width: 100%;
    height: 649px;
    background: url("images/goods/back_3.png");
}

.block7 .center {
    width: 1100px;
    height: 649px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.block7 .container2 {
    width: 100%;
    height: 649px;
    text-align: center;
}

.block7 .center .box2 {
    width: 28%;
    min-height: 400px;
    background: url("images/goods/good_back.png");
    background-repeat: no-repeat;
    margin-top: 60px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.block7 .center .box2 h1 {
    width: 100%;
    height: 31px;
    font-size: 14px;
    margin-top: 15px;
}

.block7 .center .box2 .cum1 {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 36px;
    float: left;
}

.block7 .center .box2 .form1 {
    width: 272px;
    height: 49px;
    float: left;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 8px;
    border-bottom: 1px solid yellow;
}

.block7 .center .box2 p {
    width: 130px;
    height: 30px;
    color: white;
    float: left;
    margin-left: 100px;
    margin-top: -38px;
    font-size: 23px;
}

.block7 .center .box2 .buy2 {
    width: 131px;
    height: 49px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 6px;
    background: #ED564E;
    padding-top: 15px;
    

}

.block7 .center .box2 .more2 {
    width: 131px;
    height: 49px;
    float: right;
    margin-top: 40px;
    border-radius: 6px;
    background: #282B34;
    padding-top: 15px;
}

.block7 .center .box2 a {
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.block8 {
    width: 100%;
    height: 600px;
}

.block8 .center {
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.block8 .center .container3 {
    width: 100%;
    height: 600px;
}

.block8 .center .container3 .problem {
    width: 100%;
    height: 600px;
    text-align: center;
}

.block8 .center .container3 .problem h1 {
    width: 100%;
    height: 50px;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
}

.block8 .center .container3 .problem img {
    width: auto;
    height: auto;
}

.block8 .center .container3 .problem p {
    width: 100%;
    height: 15px;
    float: left;
    margin-top: -41px;
    margin-left: 57px;
    font-size: 17px;
    text-align: left;
}

.block8 .center .container3 .problem ul {
    width: 100%;
    height: 20px;
    list-style: none;
}

.block8 .center .container3 .problem ul li {
    width: 100%;
    height: 20px;
    text-decoration: none;
}

.block8 .center .container3 .problem .no1 {
    width: auto;
    height: auto;
    float: left;
    margin-top: 50px;
}

.block8 .center .container4 .why {
    width: 100%;
    min-height: 20px;
    text-align: center;
}

.block8 .center .container4 .why h1 {
    width: 100%;
    height: 50px;
    font-size: 31px;
    text-align: center;
}

.block8 .center .container4 .why .star img {
    width: auto;
    height: auto;
}

.block8 .center .container4 .whyleft {
    width: 100%;
    height: 150px;
    float: left;
    margin-top: 80px;
}

.block8 .center .container4 .whyleft img {
    float: left;
}

.block8 .center .container4 .whyleft p {
    width: 80%;
    float: left;
    margin-top: 40px;
    margin-left: 45px;
    font-size: 17px;
}

.block8 .center .container4 .whyright {
    width: 100%;
    height: 200px;
}

.block8 .center .container4 .whyright img {
    width: auto;
    height: auto;
    float: right;
}

.block8 .center .container4 .whyright p {
    width: auto;
    height: auto;
    float: right;
    margin-top: 40px;
    margin-right: 45px;
}